.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #202020; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #525050;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;

  i {
    margin-right: 10px;
    color: #ff0044;
  }
}

.navbar {
  display: flex;
  align-items: center;

  .navLinks {
    list-style: none;
    display: flex;
    gap: 30px;

    .navItem {
      position: relative;
      cursor: pointer;
      padding: 10px 15px;
      transition: all 0.3s ease-in-out;

      span {
        color: white;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: color 0.3s;

        &:hover {
          color: #ff0044;
        }
      }

      .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background: #333;
        list-style: none;
        padding: 10px 0;
        width: 200px;
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        li {
          padding: 8px 15px;
          white-space: nowrap;

          a {
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
            display: block;
            transition: background 0.3s;
            padding: 0.5rem;
            border-radius: 5px;
            &:hover {
              background: #444;

            }
          }
        }
      }

      &:hover .dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}
