@font-face {
  font-family: "jio-medium";
  src: url("../../fonts/Jio/JioType-Medium.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "jio-light";
  src: url("../../fonts/Jio/JioType-Light.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "jio-bold";
  src: url("../../fonts/Jio/JioType-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "jio-black";
  src: url("../../fonts/Jio/JioType-Black.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "jio-regular";
  src: url("../../fonts/Jio/JioType-RegularBeta.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "jio-light-italic";
  src: url("../../fonts/Jio/JioType-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}