@import "variables";

@mixin flex-container($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin font($minimum, $preffered, $maximum, $family: regular, $color: #000) {
  $minimum: $minimum/$primary-font-size-value + rem;
  $maximum: $maximum/$primary-font-size-value + rem;

  @if $family==jmedium {
    font-family: jio-medium;
  } @else if $family==jbold {
    font-family: jio-bold;
  } @else if $family==jlight {
    font-family: jio-light;
  } @else if $family==jblack {
    font-family: jio-black;
  } @else if $family==jblack {
    font-family: jio-black;
  } @else if $family==jregular {
    font-family: jio-regular;
  } @else if $family == jio-italic {
    font-family: jio-light-italic;
  }@else if $family == nunitoB {
    font-family: nunito-bold;
  }

  color: $color;
  font-size: clamp(#{$minimum}, #{$preffered}, #{$maximum});
}


@mixin bg-image($url, $size: cover) {
  background: url("../../images/bg/" + $url) no-repeat top center;
  background-size: $size;
}
