@import "variables";

@mixin flex-container($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin bg-image($url, $size: cover) {
  background: url("../../images/bg/" + $url) no-repeat top center;
  background-size: $size;
}
