.router-outlet {
    height: 100%;
    width: 100%;
    
    .outlet {
        width: 100%;
        height: 100%;
        // background-color: #121212; // Dark background

        background-color: #292a2d; // Dark background
        overflow: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        overflow-y: auto;
        .header-layout {
            height: 4rem;
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 999;
        }

        .body-outlet {
            margin-top: 4rem;
            width: 100%;
            padding: 2rem 5rem;
          // background-color: #121212; // Dark background
        }


        .footer-outlet{
            width: 100%;
        }

    }
}



// Mobile responsiveness (for smaller screens)
@media (max-width: 768px) {
    .body-outlet {
        padding: 2rem 1rem 1rem 1rem !important;
     
    }
  }
  


  