// src/components/Footer.module.scss
.footerStrip {
    background-color: #202020;
    color: #fff;
    padding: 10px 0;
    height: 100%;
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: bold;
  }
  
  .footerContent p {
    margin: 0;
  }
  
  .socialIcons {
    display: flex;
    gap: 10px;
  }
  
  .socialLink {
    color: #aaa;
    text-decoration: none;
  }
  
  .socialLink:hover {
    color: #fff;
  }
  
  .socialLink i {
    font-size: 16px;
  }
  